<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MtuReminder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MtuReminder.CustomSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MtuReminder.Properties.Settings>
            <setting name="DbPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Timelimit" serializeAs="String">
                <value>15</value>
            </setting>
        </MtuReminder.Properties.Settings>
        <MtuReminder.CustomSetting>
            <setting name="DbPath" serializeAs="String">
                <value />
            </setting>
        </MtuReminder.CustomSetting>
    </userSettings>
</configuration>